.width {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.principal {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
