@font-face {
  font-family: "titleLuz";
  src: url("../../fonts/Always\ Good.otf");
}

.body_container {
  width: 100vw;
  min-height: 100vh;
  background-image: url("../../images//fondo\ negro\ 2.png");
  background-size: cover;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.general {
  width: 100vw;
  display: flex;
  flex-direction: row;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.899);
}
.title {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "titleLuz";
  font-size: 30px;
  flex-direction: column;
}
.picture {
  padding-top: 20px;
  width: 50%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.picture_person {
  max-width: 100%;
  height: 90%;
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgba(227, 31, 211, 0.461);
  border: solid 2px rgba(255, 255, 255, 0.324);
}
.text_title {
  color: rgb(227, 31, 211);
}
.text {
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}
.menu {
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.information {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 248, 255, 0.704);
}
.objetive {
  padding: 20px;
  font-size: 20px;
}
.card {
  border: solid 1px black;
  width: 20%;
  height: 50%;
  background-color: rgb(57, 56, 56);
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.courses_available {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.568);
  padding-top: 10px;
  padding-bottom: 20px;
}

.list_courses {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.one_course {
  width: 250px;
  height: 40px;
  border: solid 1px grey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 7px grey;
  &:hover {
    background-color: rgba(0, 0, 0, 0.696);
    color: white;
  }
}
