.footer_container {
  height: 210px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo_footer {
  border: solid 1px black;
  height: 65%;
  width: 150px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_footer_image {
  height: 100%;
}

.information {
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

.text_information {
  color: white;
  &:hover {
    color: rgb(227, 31, 211);
  }
}
.icon_facebook {
  width: 7%;
  height: 7%;

  color: blue;
  margin-right: 7px;
  &:hover {
    width: 20%;
    height: 20%;
  }
}
.icon_instagram {
  width: 18%;
  height: 18%;
  color: rgb(246, 46, 176);
  margin-left: 7px;
  &:hover {
    width: 20%;
    height: 20%;
  }
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
}
